body{
    background-color: #FACF0D;
}

nav {
    list-style-type:none;
    margin:10;
    padding:10;
    width: 300px;
    background-color: #AF9EFA;
    border-style: solid;
}
nav li a{
    text-decoration: none;
    color:black;
    padding: 10px 0px;
    display: block;
    text-align: center;
}
nav li a:hover{
    background-color: #5897FA;
    color: white;
}
.active{
    background-color: antiquewhite;
    color: white;
}

ul {
    list-style: none;
}